{% extends 'base.html'%}

{% block page_title  %} To do list {% endblock%}

{% block body %}

    <h1>To do list</h1>

    <h2  class=" title-validation-{{ messages.title.type }}">
        {{ messages.title.text }}        
    </h2>
    <h2  class=" title-validation-{{ messages.secondary_title.type }}">
        {{ messages.secondary_title.text }}
    </h2>

    {% if tasks  %}        

        {% include "user_tasks.html"%}

    {% endif %}    

    <a class="btn btn-primary" href="{% url 'add_task' %}" role="button">Add new task</a>
    <a class="btn btn-primary" href="{% url 'search_user_tasks' %}" role="button">Filter tasks</a>
       

{% endblock %}