{% extends 'base.html'%}

{% block page_title  %} To do list with API Rest {% endblock%}

{% block body %}

    <h1>To do list</h1>

    <h3  class=" title-validation-{{ messages.title.type }}">
        {{ messages.title.text }}        
    </h3>
    <h3  class=" title-validation-{{ messages.secondary_title.type }}">
        {{ messages.secondary_title.text }}
    </h3>

    {% include "user_tasks_api_rest.html"%}

    <div class=" row my-2 d-flex flex-row">
        <div class="col-12">
            <a class="btn btn-primary" href="{% url 'add_task' %}" role="button">New task</a>
            <a class="btn btn-primary" href="{% url 'search_user_tasks' %}" role="button">Filter tasks</a>
        </div>
    </div>
       

{% endblock %}