<div class="table-responsive-xxl">

    <table class="table table-striped">
        <thead>
        <tr>                
            <th scope="col">Task name</th>
            <th scope="col">Status</th>
            <th scope="col" class="d-none d-md-block" >Created</th>
            <th scope="col">Due</th>
            <th scope="col">Description</th>
            <th scope="col">Admin. task</th>
        </tr>
        </thead>
        <tbody>
            {% for task in tasks  %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.get_status_display}}</td>
                    <td class="d-none d-md-block">{{task.created_date|date:"M-d-Y"}}</td>                                    
                    <td class="{% if task.is_expired %} danger{% endif %}">{{task.due_date_time|date:"M-d-Y h:i"}}</td>
                    <td>{{task.description}}</td>
                    <td><a href="{% url 'admin_task' task.id %}">admin</a></td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>

</div>