:root {
    --danger: #DC3545;
    --warning: #FFC108;
    --success: #198754;
    --secondary: #444444;
  }

  .danger{
    color: var(--danger) !important;
  }
  
  .field-validation-danger {
    color: var(--danger);
    font-size: 0.875rem;
  }

  .title-validation-danger {
    color: var(--danger);    
  }

  .title-validation-success {
    color: var(--success);    
  }

  .title-validation-warning {
    color: var(--warning);  
  }

  .title-validation-secondary {
    color: var(--secondary);
  }

  .title-validation-danger,
  .title-validation-danger,
  .title-validation-warning
  .title-validation-secondary {
    font-size: 1.1rem;    
  }

  select {
    background-color: white;
  }

