:root {
    --danger: #DC3545;
    --warning: #FFC108;
    --success: #198754;
    --secondary: #444444;
  }

.danger{
  color: var(--danger) !important;
}

.field-validation-danger {
  color: var(--danger);
  font-size: 0.875rem;
}

.title-validation-danger {
  color: var(--danger);    
}

.title-validation-success {
  color: var(--success);    
}

.title-validation-warning {
  color: var(--warning);  
}

.title-validation-secondary {
  color: var(--secondary);
}

.title-validation-danger,
.title-validation-success,
.title-validation-warning
.title-validation-secondary {
  font-size: 1.3rem;    
}

select {
  background-color: white;
}


.nav{
  background-color: var(--bs-gray-100)
}

nav img{
  width: 100%;
  max-width: 110px;
}

.navbar {  
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1{
  color: #555555;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--bs-primary);
}

.navbar-light .navbar-nav .nav-link .user-name{
  font-size:80%;
  color: #444444;
}
